* {
    margin: 0;
    box-sizing: border-box;
  }
  
  .ham {
    position: fixed;
    /* keep the hamburger button above everything */
    z-index: 100;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border: black solid 1px;
    background: white;
    cursor: pointer;
  }
  
  .xIcon {
    display: none;
  }
  
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50vh;
    background: white;
    color: white;
    transform: translateY(-200%);
    transition: transform 0.2s;
    list-style: none;
    padding-top: 4rem;
    opacity: 80%;
  }
  
  .showMenu {
    transform: translateY(0);
  }
  
  li {
    padding: 1rem 0;
  }
  
  .menuLink {
    display: inline;
    font-size: 2rem;
    color: black;
    text-decoration: none;
  }
  
  .menuLink:hover {
    text-decoration: underline;
  }
  

header {
    font-family: 'Nunito Sans', sans-serif;
    border-bottom: solid 3px black;
    margin-bottom: 10px;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #f9f9f9;
}

#intro {
  margin: 50px;
  display: flex;
  max-width: 1100px;
  overflow: auto;
  align-items:center;
  justify-content: center;
  padding-left: 15%;
    padding-right: 15%;
text-align: center;
}

.container {
margin: 50px;
max-width: 1100px;
overflow: auto;
}

.container1 {
  margin: 50px;
  max-width: 1100px;
  overflow: auto;
  }

  .bio {
    padding-top: 15px;

  }

#navbar-ul {
    display: none;
    flex-direction: column;
    width: 100%;
}

.navbar-ul li a {
    display: inline-block;
    color: black;
    padding: 10px 20px;
}

.hamburger {
    background-color: transparent;
    border: 0;
    color: black;
    cursor: pointer;
    font-size: 50px;

}

#about-me {
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
}

.header {
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
}

.head {
  padding-bottom: 20px;
}

#work {
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}

#portfolio {
    text-align: center;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.preview{
  margin: 10px;
}

#logo-image {
    width: 400px;
    height: 100%;
}

.button a {
    display:block;
    color:black;
    }

#more-projects{
  flex-direction: column;
  text-align: center;  
  margin-top: 50px;
    width: 180px;
    padding: 15px;
    color: black;
    font-size: 20px;
    font-weight: 700;
}

a {
  color: #333;
  text-decoration: none;
}

.preview {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #f1f1f1;
  margin-bottom: 2rem;
}

.preview h4 {
  margin-bottom: 2rem;
}

.preview img {
  height: 100%;
}

.preview > div {
 padding: 2rem; 
}

.button {
  padding-top: 20px;
}

.social-media{
  padding-top: 20px;
  word-spacing: 20px;
}